---
import Maishond from "../components/Maishond";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <title>Maishond.nl</title>
  </head>
  <body>
    <div class="relative w-full h-screen">
      <div class="absolute z-40 left-0 right-0 pointer-events-none">
        <div class="w-full flex justify-center mt-20">
          <h1
            class="font-mono text-4xl text-white bg-black/50 p-2 backdrop-blur-xl"
          >
            Maishond.nl
          </h1>
        </div>
      </div>
      <div
        class="absolute inset-0 bg-gradient-to-t to-pink-300 from-orange-600"
      >
        <Maishond client:load />
      </div>
    </div>
  </body>
</html>
